<!DOCTYPE html>
<html>

<head>
    <title>
        2nd - ADDMISSION - RESPONSE
    </title>
</head>

<body id="ttt">
    <style>
        #ttt {
            background-color: black;
        }
        #tttt
        {
            font-size: 70px;
            color: white;
        }
    </style>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <center>
        <h1 id="tttt">
            THANKS FOR REGISTERING !! - 2nd
            <br />
            &#10004;
        </h1>
    </center>
</body>

</html>