<!DOCTYPE html>
<html>
    <head>
        <title>
            3rd Admission
        </title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="E:\SAKTI\SAKTI\Web devolpment 1\PROJECTS\FINAL PROJECT CRAMPETE\signin\db.js"></script>
        <link href="3rd.css" rel="stylesheet" type="text/css">
        
        <style>
            body
{
    background-image: url(https://saktisundar1.github.io/imges/3rd.jpg);
    background-size: 1190px;
    height: 5010;
    width: 5100;
}
#login
{
    color: ivory;
    background-color: black;
    border: 5px dotted;
    width: 25%;
    height: 25%;
}
        </style>
    </head>
    <body>
        <br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <center>
            <form id="login">
            <table>
            <tr>
                <th>Admission - 3rd </th>
                <td style="text-align: right;">
                </td>
                <td><br/><br/></td>
            </tr>
            <tr> 
                <th>User Name:</th>
                <td><input type="text" name="te" id="te1" required placeholder="Ganesh (full name only)"></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="password" name="pas" id="pas1" required></td>
            </tr>
            <tr> 
                <th>Phone Number:</th>
                <td><input type="number" name="te" id="te1" required placeholder="9567452390"></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><input type="email" name="pas" id="pas1" required placeholder="kity@gmail.com"></td>
            </tr>
            <tr>
                <td>
                    <button><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/3rd/3rd-Res.ejs" height="60px" width="50px">Submit</a></button>
                </td>
            </tr>
            </table>
        </form>
        </center>
        </body>
</html>