<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <center>
            <br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/>
            <h1>Which Standerd - Admission ??</h1>
            <br/>
            <button class="bg-dark text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/lkg/lkg" style="text-decoration: none; color: white;">LKG</a></button>
            <button class="bg-danger text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/ukg/ukg" style="text-decoration: none; color: white;">UKG</a></button>
            <button class="bg-info text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/1st/1st" style="text-decoration: none; color: white;">1 st</a></button>
            <button class="bg-success text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/2nd/2nd" style="text-decoration: none; color: white;">2 nd</a></button>
            <button class="bg-warning text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/3rd/3rd" style="text-decoration: none; color: white;">3 rd</a></button>
            <button class="bg-secondary text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/4th/4th" style="text-decoration: none; color: white;">4 th</a></button>
            <button class="bg-light text-dark"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/5th/5th" style="text-decoration: none; color: black;">5 th</a></button>
            <button class="bg-light text-dark"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/6th/6th" style="text-decoration: none; color: black;">6 th</a></button>
            <button class="bg-secondary text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/7th/7th" style="text-decoration: none; color: white;">7 th</a></button>
            <button class="bg-warning text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/8th/8th" style="text-decoration: none; color: white;">8 th</a></button>
            <button class="bg-success text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/9th/9th" style="text-decoration: none; color: white;">9 th</a></button>
            <button class="bg-info text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/10th/10th" style="text-decoration: none; color: white;">10 th</a></button>
            <button class="bg-danger text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/11th/11th" style="text-decoration: none; color: white;">11 th</a></button>
            <button class="bg-dark text-light"><a href="https://cranky-dubinsky-4664a1.netlify.app/good%20earth/addmission/12th/12th" style="text-decoration: none; color: white;">12 th</a></button>
        </center>
    </body>
</html>