<!DOCTYPE html>
<html>

<head>
    <title>
        Attendance Management
    </title>
</head>

<body>
    <h1>
        Hey There !! Attendance will be manged by teachers. Teachers will come after assembely and take Attendance.
    </h1>
</body>

</html>