<!DOCTYPE html>
<html>

<head>
    <title>
        Fee
    </title>
</head>

<body>
    <h1 style="text-align: center;">Payment of Fees</h1>
    <h3>Fee is payable by Account payee cheque only. This is required to be paid by
        the following dates, for the respective terms at the Indian Overseas Bank
        Tambaram Branch in West Tambaram.
    </h3>
    <h4>
        <pre>
        1st Term    –    1st to 10th June 2020

        2nd Term    –    1st to 10th October 2020

        3rd Term    –    1st to 10th February 2021
    </pre>
    </h4>
    <h3>
        Kindly note you are expected to get in touch with the school office, if you do
        not receive the printed challan with fee detail before due date of payment.
        After the last date, a late fee of ` 250 will be levied.
    </h3>
</body>

</html>