<!DOCTYPE html>
<html>
    <head>
        <title>
            Health Management
        </title>
    </head>
    <body>
        <h3>
            We Serve lunch in school itself.. We make the food useing the fruits and vergetable we grow in the farm. And also In running race if a child fell , then the ammas come a help the by putting medicine and by takeing care of them.
        </h3>
    </body>
</html>