<!DOCTYPE html>
<html>
    <title>
        Online Classes
    </title>
    <body>
        <h1 style="text-align: center;">
            Online Classes
        </h1>
        <h4>
            Hey !!! Hi !! We will have two platforms which we will use. Te two platforms are "Google classroom" and "Google meet".
            In "google classroom" we teachers will send assainmeants and metireals.<br/><br/> We will give a code and you must enter it after you entered it you will be taken to a classroom. and in the classrom we will tell you a code a you can go to google meet and then enter that code and <br/><br/>click join after you click join you will be taken to the meet , that is wherewe will meet.
        </h4>
    </body>
</html>