<!DOCTYPE html>
<html>

<head>
    <title>
        Student Management
    </title>
</head>

<body>
    <h1 style="text-align: center;">
        Students in a class
    </h1>
    <h4>
        In Every class we will have 25 to 30 students. We might have 2 or 1 section. It is based on how many students we have. In a bence we will have two kids sitting, a boy and a girl.
    </h4>
</body>

</html>